<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "cc.goodshow.ciaace"
        version     = "1.0.6"
        versionCode = "11" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.3.0" />
        <name>CIAACE</name>

        <description>
			CIAACE is a mobile phone app for 2014 China International Auto Accessories
        </description>

        <author href="http://www.goodshow.cc" email="you@youremail.com">
			GoodShow.cc Team
        </author>
		
		<gap:platform name="ios" />
		<gap:platform name="android" />
		
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		
		<icon src="icon.png" />
		<gap:splash src="splash.png" />

    </widget>
